.h1 {
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
    color:orange
}
.paragraph1{
    color:rgb(0, 0, 0);
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size:medium;
    display: flex
    align-items: flex-end; /* Center the items vertically */
    margin: 20px;
}
    
.main-image {
    margin-right: 20px; /* Space between image and paragraph */
    width: 200px; /* Example width */
    height: auto;
}

.h2 {
    font-family: Arial, Helvetica, sans-serif;
    color:orange
}

.header2 {
    font-family: Arial, Helvetica, sans-serif;
    color:orange
}

.header3 {
    font-family: Arial, Helvetica, sans-serif;
}

nav {
    display: flex;
    justify-content: center;
    background-color:orange;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

nav ul li a:hover {
    color: #000000;
}

h1, h2 {
    color: #333;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

th {
    background-color: orange;
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #ddd;
}
footer {
    background-color: orange;
    color: white;
    text-align: center;
    padding: 10px;
    position:static;
    width: 100%;
    bottom: 0;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: orange;
}

h1 {
    color: #333;
    text-align: center;
}

form {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

input[type="text"], input[type="email"], textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: orange;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #17a19e;
}
